@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter/Inter-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter/Inter-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter/Inter-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/*ESTILOS PARA EL BOTON HAMBURGUESA MOVIL*/


.hamb-line {
  @apply block w-full h-[4px] bg-[var(--color-tx-cafe)] rounded transition-all duration-300 ease-in-out;
}

#gs-menu-toggle.active .hamb-line:nth-child(2) {
  transform: translateX(8px);
}
/*FIN ESTILOS PARA EL BOTON HAMBURGUESA MOVIL*/

@theme {
  --color-amarillo-pr: #F19123;
  --color-verde-pr: #A2C783;
  --color-azul-pr: #8398C7;
  --color-blanco-pr: #ffffff;
  --color-rojo-pr: #FD7171;
  --color-tx-azul: #576186;
  --color-tx-negro: #666666;
  --color-tx-cafe: #695A55;
  --color-tx-blanco: #ffffff;

  --color-blanco-bajo: #F9F9F9;
  --color-borde: #efefef;
  
  --font-sans: "Inter", sans-serif;
  --font-serif: "Playfair Display", serif;

}


@import "tailwindcss"